extends ../layout

block content
	a(href="http://prize.fuelchoicesinitiative.com/").banner
		.triangle2
		.triangle3
		.bg2
		.title-wrap
			.title1
				.title1_text1 Call for nominations for
				.title1_text2 A 1 million dollars prize
			.title2
				.title2_text1 for the most innovative
				.title2_text2 to alternative fuel
		.info-wrap
			.logos
				img.logo1(src="img/choices.png")
			.deadline-wrap
				.deadline Deadline for nominations:
				.date May 15, 2016

