extends ../layout

block content
    a(href="http://prize.fuelchoicesinitiative.com/").banner
        .triangle2
        .triangle3
        .title-wrap
            .title1
                .title1_text1 Call for
                .title1_text2 nominations for
                .title1_text3 A 1 million
                .title1_text4 dollars prize
        //    .title2
        //        .title2_text1 for the most
        //        .title2_text2 innovative
        //        .title2_text3 alternative fuel
        //.info-wrap
        //    .logos
        //        img.logo1(src="img/choices.png")
        //        img.logo2(src="img/ministry.png")
        //    .bg2
        //    .deadline-wrap
        //        .deadline Deadline for nominations:
        //        .date March 16, 2016

