extends ../layout

block content
	a(href="http://prize.fuelchoicesinitiative.com/").banner
		.content
			.triangle1
			.triangle2
			.triangle3
			.title-wrap
				.title1 
					.title1_text1 Call for
					.title1_text2 nominations for
				.title2
					.title2_text1 a 1 million
					.title2_text2 dollars prize
				.title3
					.title3_text1 for the most
					.title3_text2 innovative
					.title3_text3 alternative fuel
				.info-wrap
					.deadline-wrap
						.deadline Deadline for nominations:
						.date May 15, 2016
					.button click here
		.logos
			img.logo1(src="img/choices.png")
			img.logo2(src="img/ministry.png")

